body {
 font-family: 'Indie Flower', cursive;
  background: #87CEFA; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #CCFFFF, white); /* For Safari 5.1 to 6.0 */*/
  background: -o-linear-gradient(-90deg, #CCFFFF, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #CCFFFF, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #CCFFFF, white); /* Standard syntax */

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
p {
  color: #003300;
  font-size: 1.4rem;
  text-align: justify;
}
h2 {
  color: #003300;
  text-decoration: underline;
  font-weight: 900;
  font-size: 1.rem;
}
header {
  z-index: 30;
  display: block;
  opacity: 1;
  background-color: black;
  left: 0;
  top: 0;
  position: absolute;
  margin: 0;
  border-style: groove;
  border-width: 1px;
  text-align: center;
  width: 100%;
  height: auto;
  color: white;
}
header h1 {
  padding-top: 1em;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 4rem;
}
header #and-stuff{

  display: inline-block;
  position: relative;
  /*top: 40%;
  right:10%;*/
  /*font-size: 2rem;*/

}
#nav-button{
  z-index: 30;
  position: absolute;
  color: white;
  font-size: 2.5rem;
  float: right;
  right: 1%;
  top: 1%;
  /*border-style: solid;
  border-width: 2px;*/
  padding: 0.5% 0.5%;
  /*border-radius: 20%*/

}
nav{
  z-index: 30;
  display: block;
  color: white;
  /*padding: 0;
  left: 0;*/
  /*top: 100px;*/
  /*position: relative;*/
  margin: 0;
  /*border-style: groove;
  border-width: 1px;*/
  text-align: center;
  width: 100%;
  height: none;
  background-color: black;
}
nav ul{
  font-size: 1.2rem;
  display: inline-block;
  width: 100%;
  position: relative;
  top: 1%;
  left: 0;
  margin: 0;
  /*height: 15%;*/

}
#nav li {
  float: left;
  left: 0;
  margin: 0;
  /*border-style: groove;*/
  /*border-width: 1px;*/
  border-right:thick double white;
  text-align: center;
  width: 13%;
  height: 20%;
  list-style-type: none;
  text-decoration: none;

}

.content {
  display: block;
  z-index: 0;
  position: relative;;
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
}
