.green-highlight {
  color: #7ace70;
  font-size: 2.5rem;
}

.reference-link {
  background-color: #7ace70;
  text-decoration: none;
  color: #191919;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.6em;
}

.link:hover {
  text-decoration: underline;
}

/*Background Diagonal */

.diagonal-bg {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/*main {
  width: 70%;
  margin: 5em auto;
}*/

@media (min-width: 400px) {
  main {
    width: 65%;
  }
}
@media (min-width: 600px) {
  main {
    width: 50%;
  }
}

/*end background diagonal */

body {
 /*font-family: 'Indie Flower', cursive;*/
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
}
p {
  color: #003300;
  font-size: 1.4rem;
  text-align: justify;
}
h2 {
  font-family: 'Bitter', serif;
  /*font-family: 'Indie Flower', cursive;*/
  color: #003300;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
}
header {
  /*font-family: 'Indie Flower', cursive;*/
  font-family: 'Bitter', serif;
  z-index: 30;
  display: block;
  opacity: 1;
  background-color: black;
  left: 0;
  top: 0;
  position: absolute;
  margin: 0;
  border-style: groove;
  border-width: 1px;
  text-align: center;
  width: 100%;
  height: auto;
  color: white;
}
header h1 {
  padding-top: 1em;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 4rem;
}
header #and-stuff{

  display: inline-block;
  position: relative;
  /*top: 40%;
  right:10%;*/
  /*font-size: 2rem;*/

}
/*#nav-button{
  position: absolute;
  color: white;
  font-size: 2.5rem;
  float: right;
  right: 1%;
  top: 1%;
  /*border-style: solid;
  border-width: 2px;*/
  /*border-radius: 20%*/

}*/
nav{
  display: block;
  color: white;
  /*padding: 0;
  left: 0;*/
  /*top: 100px;*/
  /*position: relative;*/
  margin: 0;
  /*border-style: groove;
  border-width: 1px;*/
  text-align: center;
  width: 100%;
  height: none;
  background-color: black;
}
nav ul{
  font-size: 1.2rem;
  display: inline-block;
  width: 100%;
  position: relative;
  top: 1%;
  left: 0;
  margin: 0;
  /*height: 15%;*/

}
#nav li {
  float: left;
  left: 0;
  margin: 0;
  /*border-style: groove;*/
  /*border-width: 1px;*/
  border-right:thick double white;
  text-align: center;
  width: 13%;
  height: 20%;
  list-style-type: none;
  text-decoration: none;

}

.content {
  display: block;
<<<<<<< HEAD
  z-index: 0;
  position: relative;
  /*padding-top: 12%;*/
  position: relative;;
  padding-left: 15%;
  padding-right: 15%;
}

/*Icons*/

#bigger-icon {
    font-size: 6em;
    margin-left: 25px;
    margin-right: 25px;
}

.icons {
  text-align: center;
}

img[class^=icon] {
  display: inline-block;
  vertical-align: middle;
  margin:0 1em;
}


/*Accordion Reference Tabs*/


* {
  box-sizing: border-box;
}

.accordion dl,
.accordion-list {
  border: 1px solid #ddd;
}
.accordion dl:after,
.accordion-list:after {
  content: "";
  display: block;
  height: 1em;
  width: 100%;
  background-color: #2ba659;
}

.accordion dd,
.accordion__panel {
  background-color: #eee;
  font-size: 1em;
  line-height: 1.5em;
}

.accordion p {
  padding: 1em 2em 1em 2em;
}

.accordion {
  position: relative;
  background-color: #eee;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 0 2em 0;
}

.accordionTitle,
.accordion__Heading {
  background-color: #38cc70;
  text-align: center;
  font-weight: 700;
  padding: 2em;
  display: block;
  text-decoration: none;
  color: #fff;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid #30bb64;
}
.accordionTitle:before,
.accordion__Heading:before {
  content: "+";
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.accordionTitle:hover,
.accordion__Heading:hover {
  background-color: #2ba659;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: #2ba659;
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.accordionItem {
  height: auto;
  overflow: hidden;
  max-height: 50em;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}
@media screen and (min-width: 48em) {
  .accordionItem {
    max-height: 15em;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
}

.accordionItem.is-collapsed {
  max-height: 0;
}

.no-js .accordionItem.is-collapsed {
  max-height: auto;
}

.animateIn {
  -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
          animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
  -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
          animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}

/*slice headline */

@import url(http://fonts.googleapis.com/css?family=Roboto:900);

.headliner {
  display: block;
  position: relative;
  margin: 10% auto 0 auto;
  /*max-width: 200rem;*/
  padding: 0 1rem 0 1rem;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  color: transparent;
  text-align: center;
}
h1:before, h1:after {
  content: attr(name);
  position: absolute;
  top: 0;
  left: 1rem;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1:before {
  color: #7ace70;
  -webkit-mask-image: -webkit-linear-gradient(320deg, #222 50%, transparent 50.5%);
  mask-image: linear-gradient(-130deg, #222 50%, transparent 50.5%);
}
h1:after {
  color: #191919;
  -webkit-mask-image: -webkit-linear-gradient(140deg, #222 50%, transparent 50.5%);
  mask-image: linear-gradient(-130deg, #222 50%, transparent 50.5%);
}

/* pagination */

.pagination-container {
  font-size: 16px;
  /*line-height: 24px;*/
  margin-top: 1em;
  /*padding-top: 2em;*/
  text-align: center;
}

.pagination-item {
  list-style-type: none;
  display: inline-block;
  border-right: 1px solid #d7dadb;
  transform: scale(1) rotate(19deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(-20deg);
}

.pagination-item:hover,
.pagination-item.is-active {
  background-color: #7ace70;
  border-right: 1px solid #fff;
}
.pagination-item:hover .pagination-link,
.pagination-item.is-active .pagination-link {
  color: #fff;
}

.pagination-item.first-number {
  border-left: 1px solid #d7dadb;
}

.pagination-link {
  padding: 1.1em 1.6em;
  display: inline-block;
  text-decoration: none;
  color: #8b969c;
  transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(20deg) skewY(0deg);
}

.pagination-item--wide {
  list-style-type: none;
  display: inline-block;
}

.pagination-item--wide.first {
  margin: 0 1em 0 0;
}

.pagination-item--wide.last {
  margin: 0 0 0 1em;
}

.pagination-link--wide {
  text-decoration: none;
  color: #8b969c;
  padding: 1.1em 1.6em;
}

.pagination-link--wide:hover {
  color: #fa4248;
}

.pagination-link--wide.first:before,
.pagination-link--wide.last:after {
  font-family: 'entypo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pagination-link--wide.first::before {
  content: "\E765";
  margin-right: 0.5em;
}

.pagination-link--wide.last::after {
  content: "\E766";
  margin-left: 0.5em;
}

/*h1:after {
  color: #68c75d;
  -webkit-mask-image: -webkit-linear-gradient(40deg, #222 50%, transparent 50.5%);
  mask-image: linear-gradient(130deg, #222 50%, transparent 50.5%);
}*/

[data-tip]:after,
[data-tip]:before {
  position: absolute;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all .3s linear;
}

[data-tip]:after {
  display: inline-block;
  /*float: center;*/
  content: attr(data-tip);
  color: #fff;
  font-size: 13px;
  /*background: #f1f1f1;*/
  padding: 5px 10px;
  text-align: center;
  background: #222;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  max-width: 200px;
  z-index: 999999999;
  /*display: block;*/
  /*line-height: 15px;*/
  /*white-space: normal;*/
  /*overflow: hidden;*/
  /*margin: auto auto;*/
}

[data-tip]:hover:after,
[data-tip]:hover:before {
  visibility: visible;
  opacity: 1;
}
